body{
    background-color:rgb(245, 225, 169);
}
.logotext{
    float: left;
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    /* background-color: aqua; */
    padding-right: 10px;
    padding-left: 10px;
}
nav{
    float: right;
    /* background-color: bisque; */
    
}
nav a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
header{
    margin-top: 10px;
}
nav a:hover{
    text-decoration: none;
}
.centered{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */
    transform: translate(-50%, -50%);
}
section{
    background-color: white;
    color: black;
    float: left;
    width: 68%;  
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}
article{
    margin-top: 15px;
}
aside {
    float: right;
    width: 30%;
    background-color: red;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
  @media only screen and (max-width: 950px) {
    .centered {
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 500px) {
    .centered {
      font-size: 15px;
    }
  }